.container{
	text-align: center;
	width: 27vw;
	background-color:white;
}
.img {
	width:100%;
	height:10vw;
	margin:0;
	overflow: hidden;
}
.textbox{
	text-align: left;
	margin-left: 1rem;
	width: 100%;
}
.titleBox{
	display: flex;
	align-items: center;
	justify-content:space-between;
	margin-top: 1rem;
}
.title{
	font-size:1.1rem;
	font-weight: bold;
	margin: 0.5rem 0;
	width: 17vw;
}
.iconText{
	font-size:0.7vw;
	margin-top: 0.4rem;
}
.writer{
	margin: 0;
}
.category{
	background-color:#B09171;
	width:16vw;
	height:1.7rem;
	padding: 0.3rem 1rem;
	margin: 2rem 0;
	font-size: 0.9vw;
	color: white;
}
.unlike{
	color:#cccccc;
	margin-right: 2.5rem;
	font-size: 1.2rem;
	text-align: center;
}

@media screen and (max-width:1070px) {
.title{
	font-size:0.9rem;
	font-weight: bold;
	margin: 0.5rem 0;
	width: 17vw;
}
.iconText{
	font-size:0.7vw;
	margin-top: 0.4rem;
}
.writer{
	margin: 0.5rem 0;
	font-size: 0.9rem;
}
.category{
	width:18vw;
	height:1.5rem;
	margin: 1rem 0;
	font-size: 0.7rem;
}
.unlike{
	margin-right: 1rem;
	font-size: 1rem;
}
}

@media screen and (max-width:740px) {
.container{
	width: 17rem;
}
.contentbox{
	width: 100%;
}
.img {
	width:100%;
	height:18vw;
}
.textbox{
	text-align: left;
	margin-left: 0rem;
	width: 100%;
}
.title{
	font-size:1.1rem;
	width: 40vw;
}
.iconText{
	width:5vw;
}
.category{
	width: 30vw;
	font-size: 0.8rem;
}
.unlike{
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}
}
@media screen and (max-width:450px) {
.container{
	width: 12rem;
}
.img {
	height:30vw;
}
.title{
	font-size:1rem;
	width: 40vw;
}
.category{
	width:48vw;
	height:1.4rem;
	margin: 1.5rem 0;
	font-size: 0.7rem;
}
.unlike{
	margin-right: 0.5rem;
}
}