.container {
  margin: 0 1em;
  /* padding: 0 1em 1em 1em; */
  width: 38em;
  /* height: 12em; */
  /* background-color: black; */
  z-index: 999;
}

.contents_container {
  text-align: center;
  width: 42em;
  height: 9em;
}

.img_card {
  object-fit: cover;
  /* background: #5f9ea0; */
  margin: auto;
  /* margin: 1em; */
  padding: 0.5em;
  width: 13em;
  height: 7em;
  position: relative;
  text-align: center;
  transition: all 200ms ease-in;
}

.img_card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.title {
  font-size: 0.8em;
}

@media screen and (max-width: 920px) {
  .container {
    margin: 0 1em;
    width: 18em;
  }
}
