.container {
  margin: 0 1em;
  /* padding: 0 1em 1em 1em; */
  width: 38em;
  /* height: 12em; */
  /* background-color: black; */
}

.contents_container {
  text-align: center;
  width: 42em;
  height: 9em;
}

.img_card {
  object-fit: cover;
  /* background: #5f9ea0; */
  margin: auto;
  /* margin: 1em; */
  padding: 0.5em;
  width: 13em;
  height: 7em;
  position: relative;
  text-align: center;
}

.title {
  font-size: 0.8em;
}

/* 
.slick-prev:before,
.slick-next:before {
  font-size: 40px;
  line-height: 1;
  opacity: 0.75;
  color: #000000;
  -webkit-font-smoothing: antialiased;
} */
