* {
  box-sizing: border-box;
}

.footer {
  display: flex;
  background-color: #B09171;
  height:17rem;
  padding: 2rem;
  height: fit-content;
  line-height: 1.5rem;
}
.container {
  display: flex;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  padding-right: 7rem;
  flex-direction: column;
  border-right: 1px solid #FAEEE0;
}
.icon{
  width:1.5rem;
  height:1.5rem;
}
.iconWiki{
  width:1.5rem;
  height:1.5rem;
  fill:#FAEEE0;
}
a {
  margin: 0.6rem 0;
  text-decoration: none;
  color: black;
}
svg {
  transform: translate(0, 22%);
  margin-right: 0.5rem;
}
img {
  width: 149px;
  margin-bottom: 20px;
}
.teamContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.box{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 50%;
}
.individual {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  width: 17rem;
}
.link{
  margin: 0.3rem 0;
  line-height: 0.5rem;
}
.individual > svg{
  transform: translate(0, 22%);
  margin-right: 1rem;
}
.name {
  display: flex;
}
.fullname{
  font-weight: bold;
}
.role {
  margin-left: 0.3rem;
  padding: 0 0.3rem;
  background-color: #FAEEE0;
  border-radius: 0.8rem;
  text-align: center;
  font-size: 0.8rem;
  padding-top: 0.1rem;
}
@media screen and (max-width:1023px) {
  .container {
    margin-right: 1rem;
    padding-right: 2rem;
  }
  .individual {
  padding: 0 2rem;
}
.link{
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}
}

@media screen and (max-width:767px) {
  .container {
    margin-right: 1rem;
    padding-right: 2rem;
  }
  .teamContainer{
    flex-direction: column;
    align-items: center;
  }
  .individual{
    margin-bottom: 1.5rem;
  }
.icon{
  width: 1.2rem;
  height: 1.2rem;
}
.link{
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

}