* {
    box-sizing: border-box;
}

.container {
    display: block;
    margin: 6em 5em 0 18vw;
    padding: 0.5em 0 0 20vw;
    width: 60vw;
    height: 25em;
    position: absolute;
}

.reviews_title {
    display: block;
    width: 35vw;
    float: left;
    font-size: 2em;
    font-weight: bold;
}

.reviewsMore_button {
    display: flex;
    margin-left: 50vw;
    width: 5vw;
    font-size: 1.7em;
    font-weight: bold;
    border: solid #B09171;
    background-color: #B09171;
}

.more_icon {
    display: flex; 
    margin: -0.1em 0 0 0.3em;
}

.reviewsBox {
    margin: 0em 3em 2em 0 ;
    border: solid black;
    border-width: 3px;
    padding-left: 3em;
    width: 55vw;
    height: 25em;
    border-radius: 1em;
    box-shadow: 0 4px 12px -4px black;
}

.likesMore_button {
    display: flex;
    margin-left: 50vw;
    width: 5vw;
    font-size: 1.7em;
    font-weight: bold;
    border: solid #B09171;
    background-color: #B09171;
}

.likesBox {
    margin: 0em 3em 2em 0 ;
    border: solid black;
    border-width: 3px;
    padding-left: 3em;
    width: 55vw;
    height: 25em;
    border-radius: 1em;
    box-shadow: 0 4px 12px -4px black;
}

.myReviewData {
    display: block;
    border: none;
    text-align: left;
    margin: 1.5em 0 0 0.5em;
    font-size: x-large;
    position: absolute;
    background-color: #B09171;
}

.mydata_reviewDate {
    display: block;
    margin: 1.8em 2em 0 0;
    text-align: right;
    font-size: x-large;
    border-bottom: 2px solid black;
}

.likeBox {
    display: flex;
    margin: 0.3em 3em 0 0;
    width: 50.5vw;
    font-size: x-large;
    border-bottom: 2px solid black;
}

.myLikeData {
    display: block;
    border: none;
    text-align: left;
    width: 35em;
    margin: 1.2em 4em 0.2em 0.5em;
    font-size: x-large;
    background-color: #B09171;
}

.mydata_likeDate {
    display: block;
    margin: 1.3em 0 0 1em;
    width: 13em;
    text-align: end;
    font-size: x-large;
    border-bottom: solid black;
    border-width: 2px;
    border: none;
    background-color: #B09171;
}

.empty_reviewbox {
    display: block;
    padding-top: 6.5em;
    height: 20em;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

.likes_title {
    display: block;
    width: 35vw;
    height: auto;
    float: left;
    font-size: 2em;
    font-weight: bold;
}

.empty_likesbox {
    display: block;
    padding-top: 6.5em;
    height: 20em;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .container {
        margin-top: -20vh;
        padding: 0;
    }

    .reviews_title {
        margin: 61vh 0 0 -15vw;
        width: 50vw;
        font-size: 5vw;
    }

    .reviewsMore_button {
        margin-top: 60vh;
        padding-left: 13vw;
        font-size: 5vw;
    }
    
    .reviewsBox {
        margin: 0 0 0 -18vw;
        height: 40vh;
        border-radius: 0;
        width: 100vw;
    }

    .likes_title {
        margin: 3vh 0 0 -15vw;
        width: 50vw;
        font-size: 5vw;
    }

    .likesMore_button {
        margin-top: 2.25vh;
        padding-left: 13vw;
        font-size: 5vw;
    }

    .likesBox {
        margin: 0 0 0 -18vw;
        height: 40vh;
        border-radius: 0;
        width: 100vw;
    }

    .empty_reviewbox {
        padding: 13vh 15vw 0 0;
        width: 100vw;
        text-align: center;
        font-size: 6vw;
    }

    .empty_likesbox {
        padding: 15vh 20vw 0 0;
        width: 110vw;
        text-align: center;
        font-size: 4.8vw;
    }
}

@media screen and (max-width: 711px) {
    .container {
        margin-top: -20vh;
        padding: 0;
    }

    .reviews_title {
        margin: 61vh 0 0 -15vw;
        width: 50vw;
        font-size: 5vw;
    }

    .reviewsMore_button {
        margin-top: 60vh;
        padding-left: 13vw;
        font-size: 5vw;
    }
    
    .reviewsBox {
        margin: 0 0 0 -18vw;
        height: 40vh;
        border-radius: 0;
        width: 100vw;
    }

    .likes_title {
        margin: 3vh 0 0 -15vw;
        width: 50vw;
        font-size: 5vw;
    }

    .likesMore_button {
        margin-top: 2.25vh;
        padding-left: 13vw;
        font-size: 5vw;
    }

    .likesBox {
        margin: 0 0 0 -18vw;
        height: 40vh;
        border-radius: 0;
        width: 100vw;
    }

    .empty_reviewbox {
        padding-right: 30vw;
        width: 100vw;
        text-align: center;
        font-size: 6vw;
    }

    .empty_likesbox {
        padding-right: 40vw;
        width: 110vw;
        text-align: center;
        font-size: 4.8vw;
    }
}