* {
    box-sizing: border-box;
}

.container {
    margin: 7em 0 0 0;
    padding-top: 3em;
    width: 31vw;
    height: 70em;
    /* position: fixed; */
    background-color: #B09171;
}

.info {
    margin: 1em auto 0 7.5vw;
    width: 26vw;
    height: 50em;
    background-color: white;
    border-radius: 0.5em;
    box-shadow: 0 4px 12px -4px black;
}

.img {
    margin: 5em 0 0 4vw;
    border-radius: 20em;
    padding: 1em;
    width: 18.5vw;
    height: 25em;
}

.nickname {
    display: block;
    margin-top: 2em;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    width: 26vw;
}

.update {
    margin: 3em 0 0 3.7vw;
    display: block;
    width: 8vw;
    height: 4em;
    border: none;
    float: left;
    border-radius: 1em;
    font-weight: bold;
    font-size: 100%;
    color: white;
    background-color: #B09171;
    box-shadow: 0 4px 12px -4px black;
}

.withdraw {
    margin: 3em 0 0 3vw;
    display: block;
    width: 8vw;
    height: 4em;
    border: none;
    float: left;
    border-radius: 1em;
    font-weight: bold;
    font-size: 100%;
    color: white;
    background-color: #B09171;
    box-shadow: 0 4px 12px -4px black;
}