* {
  box-sizing: border-box;
}

.body {
  z-index: 1000;
  margin: 5em 0 0 0;
  padding: 20px;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
}

.container {
  margin: 3em auto;
  width: 30em;
  height: 45em;
  border-radius: 1.5em;
  background-color: white
}

.img {
  margin: 2em 0 0 5em;
  width: 21em; 
  height: 15em;
}

.itemText {
  margin: 0.4em 0.5em 0.5em 2.5em;
  display: block;
  float: left;
  font-size: 150%;
  font-weight: bold;
  color: #B09171;
  background-color: white
}

.myInfo:focus {
  outline: none;
}


.myInfo {
  margin: 0 3em 0.7em 0.7em;
  padding-left: 15px;
  display: block;
  width: 16em;
  height: 3.5em;
  border: 0.2em solid #B09171;
  border-radius: 0.5em;
  float: right;
  background-color: white
}

.membership {
  display: block;
  margin: 0.7em auto;
  margin-top: 12em;
  width: 18em;
  height: 2.5em;
  border: none;
  font-size: 1.4em;
  font-weight: 900;
  border-radius: 0.5em;
  background-color: #B09171;
  color: rgb(5, 5, 5);
}

button:hover {
  cursor: pointer;
}

.message {
  display: block;
  text-align: center;
  font-weight: bold;
  color: red;
  margin-top: 1em;
  font-size: 0.8em;
  background-color: white
}

.login_text {
  margin-left: 5em;
  font-weight: bold;
  font-size: 0.9em;
  background-color: white
}

.login_bnt {
  margin: 1.5em 0 0 1.5em;
  font-size: 1.1em;
  font-weight: 900;
  width: 7em;
  height: 2em;
  border: none;
  border-radius: 0.5em;
  color: rgb(5, 5, 5);
  background-color: #B09171;
}

@media screen and (max-width: 767px) {
  .body {
    width: 100%;
    align-items: center;
  }

  .container {
    /* width: 100%;
    border-radius: 0;
    height: 63em; */
    width: 100vw!important;
    height: 100vh!important;
    border-radius: 0!important;
  }

  .logo {
    margin-left: 13.5em;
    width: 21em; 
    height: 15em;
  }

  .item {
    margin: 0.5em 0.5em 0.5em 2.5em;
    font-size: 150%;
  }

  .info {
    margin: 0.7em auto;
    margin-right: 3em;
    padding-left: 15px;
    width: 16em;
    height: 3.5em;
  }

  /* .email {
    
  }
  
  .nickName {

  }

  .password {

  }

  .passwordConfirm {

  } */

  .membership {
    margin-top: 25em;
  }

  .login_text {
    margin-left: 14em;
  }
}