.container{
  flex-direction: column;
	width: 100%;
	padding: 10vw 0 8vw 0;
  display: flex;
  background-color: #b0907146;
}
.content{
  flex-direction: row;
	width: 100%;
  display: flex;
  justify-content: center;
}
.countMessage{
  flex-direction: column;
	width: 90%;
	font-family: NanumSquareEB;
	font-size: 2.5rem;
	color: #888888;
  margin-bottom: 5rem;
}
.countBox{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-right:4vw;
  font-weight: bold;
  margin-bottom:1rem;
}
.contentsText{
  margin-right: 1rem;
}
.contentsCounter, .userCounter{
  font-size: 5vw;
  color: #B09171;
}
.text{
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
}
.userCounter{
  margin: 0 8px;
}
.leftUsers{
  /* transition: 0.5s; */
	font-size: 6vw;
	color: #eee;
}
.rightUsers{
  /* transform: rotateY(-180deg); */
  font-size: 6vw;
	color: #eee;
}