* {
  box-sizing: border-box;
}

.container {
  background-color: black;
}

.text_1 {
  position: absolute;
  right: 3.3em;
  bottom: 5.5em;
  font-size: 2em;
  z-index: 950;
  color: aliceblue;
  line-height: 2.3em;
  text-align: right;
}

.text_2 {
  position: absolute;
  right: 2em;
  bottom: 2em;
  z-index: 950;
  color: aliceblue;
  font-size: 3em;
}

.img_1 {
  width: 100%;
  height: 100vh;
  /* opacity: 80%; */
  filter: brightness(55%);
}
