* {
  box-sizing: border-box;
}

.container {
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* background-color: black; */
  background-color: #79614a;
  margin-top: 5em;
}

#firstSelect {
  margin: 1em 1.5em;
  padding-left: 0.6em;
  width: 17em;
  height: 2em;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 0.3em;
  /* background-color: rgb(95, 90, 84); */
  background-color: #c4b09a;
  /* background-color: #1f1e1e; */
  /* color: whitesmoke; */
  color: #757575;
  border: none;
}

#secondSelect {
  margin-right: 1.5em;
  padding-left: 0.6em;
  width: 8em;
  height: 2em;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 0.3em;
  background-color: #c4b09a;
  /* background-color: #1f1e1e; */
  color: #757575;
  border: none;
}

#thirdSelect {
  padding-left: 0.6em;
  width: 8em;
  height: 2em;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 0.3em;
  border: none;
}

.search_input {
  position: absolute;
  margin-top: 1em;
  right: 0;
  padding-left: 1.5em;
  width: 35em;
  height: 3em;
  border-radius: 2em;
  font-size: 1em;
  background-color: #c4b09a;
  /* background-color: #1f1e1e; */
  border: none;
}

.search_btn {
  position: absolute;
  margin-top: 1.05em;
  right: 1em;
  border: none;
  /* background-color: white; */
  background-color: #c4b09a;
  /* background-color: #1f1e1e; */
  /* color: whitesmoke; */
  color: #757575;
  font-size: 1.3em;
}

.select_1_All_container {
  margin: 1em 1em;
}

.subtitle {
  margin: 1em;
  font-size: 1.3em;
  font-weight: 700;
  /* color: white; */
  /* color: #524132; */
  /* color: #1f1e1e; */
  color: #dbd9d6;
}

.contents {
  margin: 1.5em;
  display: flex;
  flex-wrap: wrap;
}

.select_1_All_container {
  margin: 1.5em;
  display: flex;
  flex-wrap: wrap;
  /* background-color: #1f1e1e; */
  background-color: #493929;
  /* background-color: #b09171; */
}

.contents_part {
  padding: 0.8em;
  margin: 1em;
  /* margin-right: 40em; */
  font-size: 1.2em;
  font-weight: 700;
  /* width: 45%; */
  /* background-color: black; */
  /* background-color: #8d745b; */
  background-color: #635444;
  border-radius: 0.3em;
  /* color: white; */
  color: #dbd9d6;
}

.subtitle_sound {
  margin: 1em 5em 1em 1em;
  font-size: 1.3em;
  font-weight: 700;
}

@media screen and (max-width: 1700px) {
  .search_input {
    left: 47em;
    width: 24em;
    height: 3em;
  }
  .search_btn {
    left: 52em;
  }
}

@media screen and (max-width: 1150px) {
  .image {
    margin-top: 10em;
  }
  #firstSelect {
    font-size: 1em;
  }
  #secondSelect {
    font-size: 1em;
  }
  #thirdSelect {
    font-size: 1em;
  }
  .search_input {
    margin: 1.5em;
    left: 0;
    top: 8em;
    width: 22em;
    height: 2.5em;
  }
  .search_btn {
    left: 18.5em;
    top: 7.9em;
    font-size: 1.1em;
  }
  .select_1_All_container {
    margin-top: 6em;
  }
}

@media screen and (max-width: 650px) {
  /* 모바일 */
  #firstSelect {
    font-size: 1em;
  }
  #secondSelect {
    font-size: 1em;
    margin-left: 1.5em;
  }
  #thirdSelect {
    margin-left: 1.5em;
  }
  .search_input {
    margin: 1.5em;
    left: 0;
    top: 10.5em;
    width: 22em;
    height: 2.5em;
  }
  .search_btn {
    left: 18.5em;
    top: 10.15em;
    font-size: 1.1em;
  }
  .select_1_All_container {
    margin-top: 6em;
  }
}
