* {
  box-sizing: border-box;
}

.body {
  z-index: 1000;
  margin: 5em 0 0 0;
  padding: 20px;
  width: 100%;
  height: 70em;
  position: fixed;
  background-color: rgba(0,0,0,0.5);
}

.container {
  margin: 3em auto;
  width: 30em;
  height: 45em;
  border-radius: 1.5em;
  background-color: white
}

.cancleBox {
  display: none;
}

.cancleBtn {
  display: none;
}

.logo {
  margin: 2em 0 0 5em;
  width: 21em; 
  height: 15em;
}

.itemText {
  display: none;
}

.myInfo:focus {
  outline: none;
}

.myInfo::placeholder {
  color: #B09171;
  font-size: 1.3em;
  font-weight: bold;
}

.myInfo {
  margin: 0 5.5em 0.7em 0.7em;
  padding-left: 25px;
  display: block;
  width: 25em;
  height: 5em;
  border: 0.2em solid #B09171;
  border-radius: 0.5em;
  float: right;
  font-weight: bold;
  background-color: white
}

.loginButton {
  margin: 0.5em auto;
  display: block;
  width: 15em;
  height: 2.5em;
  border: none;
  outline: none;
  font-size: 1.4em;
  font-weight: 900;
  border-radius: 0.3em;
  background-color: #B09171;
  color: black
}

button:hover {
  cursor: pointer;
}

.oauth_message {
  display: block;
  text-align: center;
  margin-top: 2em;
  color: rgba(0,0,0,0.7);  
  font-weight: bold;
}

.google {
  margin: 1em 0 0 12.5em;
  display: block;
  width: 4em;
  height: 1em;
  border: none;
  outline: none;
  float: left;
  background-color: white;
}

.google_icon {
  margin-bottom: 0;
  width: 4em;
  box-shadow: 0 4px 12px -4px black;
  border-radius: 20em;
}

.kakao {
  margin-left: 12em;
  display: block;
  width: 8em;
  height: 1em;
  border: none;
  outline: none;
  background-color: white;
}

.kakao_icon {
  margin: 1em 1.2em 0 0;
  width: 4em;
  box-shadow: 0 4px 8px -4px black;
  border-radius: 20em;
  float: right;
}

.message {
  display: block;
  text-align: center;
  color: red;
  margin-top: 1em;
  font-size: 0.8em;
}

.membership {
  margin: 5.5em 0 0 5em;
  display: block;
  float: left;
  font-weight: bold;
  color: rgba(0,0,0,0.7);
}

.membership_btn {
  margin: 3em 3.3em 0 0;
  padding: 0;
  display: block;
  width: 3.5em;
  height: 2.5em;
  border: none;
  outline: none;
  float: right;
  font-size: 1.4em;
  font-weight: 900;
  border-radius: 10em;
  background-color: white;
  color: #B09171;
}

@media screen and (max-width: 1024px) {
  .body {
    /* width: 100%; */
    margin: 0;
    width: 100%;
    padding: 0;
    padding-top: 1.3em;
    align-items: center;
  }

  .container {
    /* width: 100%; */
    /* border-radius: 0;
    height: 63em; */
    position: absolute;
    width: 100vw;
    height: 120vh;
    border-radius: 0;
  }
  
  .cancleBox {
    display: block;
    border: none;
    float: right;
    margin-right: 33vw;
    background-color: white;
  }

  .message {
    margin-left: -20em;
  }

  .cancleBtn {
    display: block;
    padding-top: 2em;
    width: 4vw;
  }

  .logo {
    float: left;
    margin-left: 19vw;
    width: 35vw; 
    height: 20vh;
  }

  .itemText {
    display: block;
    margin: 19vh 0 -19vh 8vw;
    padding-top: 5vh;
    font-size: 130%;
    width: 18vw;
  }

  .myInfo {
    margin: 0 38vw 1.5vh 3vw;
    padding-left: 15px;
    width: 30vw;
    height: 5vh;
  }

  .loginButton {
    display: inline;
    margin: 0 22vw 0 7vw;
    width: 55vw;
    height: 6vh;
  }

  .oauth_message {
    display: block;
    text-align: unset;
    margin-left: 20vw;
  }

  .google {
    margin-left: 26vw;
  }

  .membership {
    display: block;
    margin: 8vh 0 0 8vw;
    float: none;
    font-size: 2.5vw;
  }

  .membership_btn {
    width: 17vw;
    border-radius: 0.5em;
    height: 4.5vh;
    float: right;
    margin: -4vh 38vw 0 0;
    background-color: #B09171;
    color: black;
    font-size: 2vw;
  }
}

@media screen and (max-width: 711px) {
  .body {
    /* width: 100%; */
    margin: 0;
    width: 100%;
    padding: 0;
    padding-top: 1.3em;
    align-items: center;
  }

  .container {
    /* width: 100%; */
    /* border-radius: 0;
    height: 63em; */
    position: absolute;
    width: 105vw;
    height: 120vh;
    border-radius: 0;
  }
  .cancleBox {
    border: none;
    float: right;
    margin-right: 10vw;
    background-color: white;
  }

  .cancleBtn {
    display: block;
    padding-top: 2em;
    width: 4vw;
  }

  .logo {
    float: left;
    margin-left: 30vw;
    width: 45vw; 
    height: 20vh;
  }

  .itemText {
    display: block;
    float: left;
    margin: 3vh 0 1.5vh 13vw;
    padding-top: 0;
    font-size: 150%;
    width: 30vw;
  }

  .myInfo {
    margin: 2.8vh 15vw 2vh 0;
    padding-left: 15px;
    width: 40vw;
    height: 5vh;
  }

  .loginButton {
    display: block;
    margin: 47vh 1vw 1.2em 10vw;
    width: 80vw;
    height: 8vh;
  }
  
  .oauth_message {
    margin: 0;
    margin-left: -9vw;
    text-align: center;
  }

  .message {
    display: block;
    text-align: center;
    padding-bottom: 2vh;
    margin: 0;
  }

  .google {
    margin-left: 37vw;
  }

  .google_icon {
    float: right;
  }
  
  .kakao {
    margin-left: 0;
    padding-left: -70vw;
    float: left;
  }

  .membership {
    margin: 13vh 0 -18vw 13.5vw;
    padding: 0 25vw 0 0;
    font-size: 2.5vw;
    float:left;
  }

  .membership_btn {
    width: 25vw;
    float: none;
    height: 5vh;
    margin: 14.5vh 0 0 62vw;
    border-radius: 0.5em;
    background-color: #B09171;
    color: black;
    font-size: 3vw;
  }
}