* {
  box-sizing: border-box;
}

.body {
  z-index: 999;
  margin: 5em 0 0 0;
  padding: 20px;
  width: 100%;
  height: 70em;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.container {
  margin: 3em auto;
  width: 30em;
  height: 45em;
  border-radius: 1.5em;
  background-color: white;
}

.cancelBox {
  display: none;
}

.cancelBtn {
  display: none;
}

.logo {
  margin: 2em 0 0 5em;
  width: 21em;
  height: 15em;
}

.itemText {
  display: none;
}

.myInfo:focus {
  outline: none;
}

.myInfo::placeholder {
  color: #b09171;
  font-size: 1.3em;
  font-weight: 700;
}

.myInfo {
  margin: 0 5.5em 0.7em 0.7em;
  padding-left: 25px;
  display: block;
  width: 25em;
  height: 5em;
  border: 0.1em solid #B09171;
  border-radius: 0.5em;
  float: right;
  font-weight: bold;
  background-color: white;
}

.loginButton {
  margin: 0.5em auto;
  display: block;
  width: 15em;
  height: 2.5em;
  border: none;
  outline: none;
  font-size: 1.4em;
  font-weight: 900;
  border-radius: 0.3em;
  background-color: #B09171;
  color: black;
}

button:hover {
  cursor: pointer;
}

.oauth_message {
  display: block;
  text-align: center;
  margin-top: 2em;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
}

.google {
  margin: 1em 0 0 12.5em;
  display: block;
  width: 4em;
  height: 1em;
  border: none;
  outline: none;
  float: left;
  background-color: white;
}

.google_icon {
  margin-bottom: 0;
  width: 4em;
  box-shadow: 0 4px 12px -4px black;
  border-radius: 20em;
}

.kakao {
  margin-left: 12em;
  display: block;
  width: 8em;
  height: 1em;
  border: none;
  outline: none;
  background-color: white;
}

.kakao_icon {
  margin: 1em 1.2em 0 0;
  width: 4em;
  box-shadow: 0 4px 8px -4px black;
  border-radius: 20em;
  float: right;
}

.message {
  display: block;
  text-align: center;
  color: red;
  margin-top: 1em;
  font-size: 0.8em;
}

.membership {
  margin: 5.5em 0 0 5em;
  display: block;
  float: left;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
}

.membership_btn {
  margin: 3em 3.3em 0 0;
  padding: 0;
  display: block;
  width: 3.5em;
  height: 2.5em;
  border: none;
  outline: none;
  float: right;
  font-size: 1.4em;
  font-weight: 900;
  border-radius: 10em;
  background-color: white;
  color: #b09171;
}

@media screen and (max-width: 1024px) {
  .body {
    margin: 0;
    width: 100%;
    padding: 0;
    padding-top: 1.3em;
    align-items: center;
  }

  .container {
    position: absolute;
    width: 100vw;
    height: 120vh;
    border-radius: 0;
  }

  .cancelBox {
    display: block;
    border: none;
    float: right;
    margin-right: 7vw;
    background-color: white;
  }

  .message {
    margin-left: 1em;
    font-size: large;
  }

  .cancelBtn {
    display: block;
    padding-top: 2em;
    width: 4vw;
  }

  .logo {
    float: left;
    margin-left: 33vw;
    width: 40vw; 
    height: 25vh;
  }

  .itemText {
    display: block;
    margin: 23.5vh 0 -20vh 20vw;
    padding-top: 6.5vh;
    font-size: 190%;
    font-weight: bold;
    width: 18vw;
  }

  .myInfo {
    margin: 0 17vw 5em 3vw;
    padding-left: 15px;
    width: 35vw;
    height: 6em;
    position: relative;
  }

  .loginButton {
    display: inline;
    margin: 0 22vw 0 21vw;
    width: 60vw;
    height: 7vh;
  }

  .oauth_message {
    display: block;
    margin-left: 1vw;
    font-size: 2vw;
  }

  .google {
    margin: 1em 6vw 0 39vw;
  }

  .google_icon {
    width: 8vw;
  }

  .kakao_icon {
    width: 8vw;
  }

  .kakao {
    margin-left: 54vw;
    float: left;
    position: fixed;
    width: 11vw;
  }

  .membership {
    display: block;
    margin: 14vh 0 0 21vw;
    float: none;
    font-size: 2.5vw;
  }

  .membership_btn {
    width: 20vw;
    border-radius: 0.5em;
    height: 5.5vh;
    float: right;
    margin: -4.5vh 19vw 0 0;
    background-color: #B09171;
    color: black;
    font-size: 2vw;
  }
}

@media screen and (max-width: 711px) {
  .body {
    margin: 0;
    width: 100%;
    padding: 0;
    padding-top: 1.3em;
    align-items: center;
  }

  .container {
    position: absolute;
    width: 105vw;
    height: 120vh;
    border-radius: 0;
  }
  .cancelBox {
    border: none;
    float: right;
    margin-right: 7vw;
    background-color: white;
  }

  .cancelBtn {
    display: block;
    padding-top: 2em;
    width: 4vw;
  }

  .logo {
    float: left;
    margin-left: 34vw;
    width: 45vw; 
    height: 18vh;
  }

  .itemText {
    display: block;
    float: left;
    margin: 1.5em 0 0.7em 12.5vw;
    padding-top: 0;
    font-size: 150%;
    width: 30vw;
  }

  .myInfo {
    margin: 1.1em 13vw 1em 0;
    padding-left: 15px;
    padding-top: 7px;
    width: 40vw;
    height: 4.5em;
    position:relative;
  }

  .loginButton {
    display: block;
    margin: 47vh 1vw 1.2em 11.5vw;
    width: 80vw;
    height: 7vh;
  }

  .oauth_message {
    margin: 0;
    margin-left: -3vw;
    text-align: center;
    font-size: medium;
  }

  .message {
    display: block;
    text-align: center;
    padding-bottom: 2vh;
    font-size: medium;
    margin: 0;
  }

  .google {
    margin: 1em 6vw 0 32vw;
    position: fixed;
  }

  .google_icon {
    float: left;
    width: 14vw;
  }

  .kakao {
    margin-left: 54vw;
    width: 20vw;
    float: left;
    position: fixed;
  }

  .kakao_icon {
    width: 14vw;
  }

  .membership {
    margin: 17.5vh 0 -18vw 13.5vw;
    padding: 0 25vw 0 0;
    font-size: 2.5vw;
    float: left;
  }

  .membership_btn {
    width: 30vw;
    float: none;
    height: 5vh;
    margin: 15.5vh 0 0 61vw;
    border-radius: 0.5em;
    background-color: #b09171;
    color: black;
    font-size: 3vw;
  }
}
